{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('profile') }}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('profile') }}
{% endblock %}

{% block title %}Profil Utilisateur{% endblock %}

{% block body %}
<main>
		<div class="centered">
			<h1>Profil de {{app.user.firstname}}</h1>
		</div>
		<div class='content'>
            <h2>Infos</h2>
            <p>Nom: {{app.user.lastname}}</p>
            <p>Prénom: {{app.user.firstname}}</p>
            <p>Alias: {{app.user.username}}</p>
            <p>Inscrit depuis le: {{app.user.dateOfCreation|date('Y-m-d')}}</p>

            <h2>Mes réservations en cours</h2>
            
					{% for order in app.user.orders %}
						{% include "order/vignette.html.twig" %}
					{% else %}
						<tr>
							<td>Pas de réservation en cours</td>
						</tr>
					{% endfor %}

            <h2>Statistiques</h2>
            <p>Nombre de salles jouées:
            {{app.user.orders|length}}
            </p>
            <p>Taux de victoire: {{app.user.orders|length * 5}}%</p>{#completion * nbGame /100 %#}
            
            <h2>Statistiques par salle</h2>
            <h3>Nom de la salle et image</h3>
            <p>nombre de participation:</p>
            <p>temps total passé:</p>
            <p>meilleur temps:</p>
            <p>Resultat:</p>

        </div>
</main>
{% endblock %}
