{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('profile') }}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('profile') }}
{% endblock %}

{% block title %}Profil Utilisateur
{% endblock %}

{% block body %}
	<main>
		<div class="topContainer">
			<div class="topBanner">
				<section class="titleTop">
					<h1>Bienvenue {{app.user.firstname}} !</h1>
				</section>
				<img class="profileAvatar" src="/img/profileImages/Avatars/1.jpg" alt="fond nuages">
			</div>
		</div>
		<div class='content'>

			<section class="titleCenter">
				<h2>Mes réservations en cours</h2>
			</section>


			{% for order in app.user.orders %}
				{% if order.calendar.startTime > now %} {#on affiche uniquement les reservations apres la date du jour#}
					{% include "order/vignette.html.twig" %}
				{% endif %}
			{% else %}
				<tr>
					<td>Pas de réservation en cours</td>
				</tr>
			{% endfor %}

			<section class="titleCenter">
				<h2>Profil</h2>
			</section>

			<div class="flexdiv">
				<section class="infoPerso">
					<h2>Infos personnelles :</h2>
					<p>Votre nom:
						{{app.user.lastname}}</p>
					<p>Votre prénom:
						{{app.user.firstname}}</p>
					<p>Votre pseudo:
						{{app.user.username}}</p>
					<p>Votre e-mail:
						{{app.user.email}}</p>
					<p>Vous etes Inscrit(e) depuis le:
						{{app.user.dateOfCreation|date('d-M-y')}}</p>
				</section>
				<section class="infoPerso">
					<h2>Statistiques :</h2>
					<p>Nombre de salles jouées :
						{{app.user.orders|length}}
					</p>
					<p>Taux de victoire :
						{{app.user.orders|length / app.user.orders|length * 100}}%</p>
					{# nbsuccess / nbGame * 100 %#}
				</section>
			</div>
<!-- 
			<h2>Statistiques par salle</h2>
			<h3>Nom de la salle et image</h3>
			<p>nombre de participation:</p>
			<p>temps total passé:</p>
			<p>meilleur temps:</p>
			<p>Resultat:</p> -->
		</div>
	</main>
{% endblock %}
