{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('calendar_back') }}
{% endblock %}


{% block title %}Shikeygami | Calendrier
{% endblock %}

{% block body %}
	{# <pre>
			{{ dump(isBooked) }}
		</pre> #}
	<div class="content">
		<h2>Planning de sessions</h2>

		<a href="{{ path('calendar_new') }}" id="createNew">Créer une session</a>
		<table class="calendar-table">
			<thead>
				<tr>
					<th class="calendar-cell">Id</th>
					<th class="calendar-cell">Jeu</th>
					<th class="calendar-cell">Date et heures de début / fin</th>
					<th class="calendar-cell">Réservé ?</th>
					{% if is_granted('ROLE_ADMIN') %}
						<th class="calendar-cell">Détails</th>
						<th class="calendar-cell">Modification</th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for calendar in calendars %}
					<tr>
						<td class="calendar-cell">{{ calendar.id }}</td>
						<td class="calendar-cell">{{ calendar.game.title }}</td>
						<td class="calendar-cell">
							<span class="calendar-bold">Début :</span>
							{{ calendar.startTime ? calendar.startTime|date('d M Y H:i:s') : '' }}
							<br>
							<span class="calendar-bold">Fin :</span>
							{{ calendar.endTime ? calendar.endTime|date('d M Y H:i:s') : '' }}
						</td>
						<td class="calendar-cell">{{ calendar.booked ? 'Oui' : 'Non' }}</td>
						{% if is_granted('ROLE_ADMIN') %}
							<td class="calendar-cell">
								<a href="{{ path('calendar_show', {'id': calendar.id}) }}">
									<i class="fas fa-eye"></i>
								</a>

							</td>
							<td class="calendar-cell">
								<a href="{{ path('calendar_edit', {'id': calendar.id}) }}">
									<i class="fas fa-pen"></i>
								</a>
							</td>
						</tr>
					{% endif %}
				{% else %}
					<tr>
						<td class="calendar-cell">Aucune session planifiée.<br><span class="calendar-bold">Attention :</span>
							Les clients ne pourront rien réserver.</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('calendar_back') }}
{% endblock %}
