{% extends 'base.html.twig' %}

{% block title %}Shikeygami | Infos sur la partie
{% endblock %}

{% block body %}
	<h1>Infos sur la partie</h1>

	<table class="table">
		<tbody>
			{% if is_granted('ROLE_ADMIN') %}
				<tr>
					<th>Id</th>
					<td>{{ calendar.id }}</td>
				</tr>
			{% endif %}

			<tr>
				<th>Heure de début</th>
				<td>{{ calendar.startTime ? calendar.startTime|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Heure de fin</th>
				<td>{{ calendar.endTime ? calendar.endTime|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Réservé ?</th>
				<td>{{ calendar.booked ? 'Oui' : 'Non' }}</td>
			</tr>
		</tbody>
	</table>

	<form method="GET" action="{{ path("order_make", { id: calendar.id }) }}">
		<label for="playerQuantity">Nombre de joueurs</label>
		<input type="number" name="playerQuantity" value="{{ calendar.game.minPlayers }}" min="{{ calendar.game.minPlayers }}" max="{{ calendar.game.maxPlayers }}">

		<button>
			<i class="fa fa-cart-plus">Réserver cette horaire</i>
		</button>
	</form>
	<a href="{{ path('calendar_index') }}">Retour à la liste</a>
{% if is_granted('ROLE_ADMIN') %}
	<a href="{{ path('calendar_edit', {'id': calendar.id}) }}">Modifier</a>
	{{ include('calendar/_delete_form.html.twig') }}
{% endif %}
{% endblock %}
