{% extends 'base.html.twig' %}

{% block title %}Shikeygami | Inscription
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags("register") }}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags("register") }}
{% endblock %}

{% block body %}
	<main>
		<div class="content">
			<h2 class="content-title">Inscription</h2>
			<div class="formulaire">
				{{ form_start(registrationForm) }}
			</div>
			<div class="formulaire">
				{{ form_row(registrationForm.email) }}
			</div>
			<div class="formulaire">
				{{ form_row(registrationForm.plainPassword, {
            label: 'Choisir un mot de passe *'}) }}
			</div>
            <div class="formulaire">
				{{ form_row(registrationForm.userName) }}
			</div>
            <div class="formulaire">
				{{ form_row(registrationForm.firstName) }}
			</div>
            <div class="formulaire">
				{{ form_row(registrationForm.lastName) }}
			</div>
            <div class="formulaire">
				{{ form_row(registrationForm.agreeTerms) }}
			</div>
			<div class="btn-anim">
				<button type="submit" class="btn">S'inscrire</button>
			</div>
			{{ form_end(registrationForm) }}

			<p class="legal">* Requis</p>
			<p class="legal">** Lire les<a href="#" class="legal-link">
					conditions légales d'utilisation de nos services</a>
			</p>
		</div>


	</main>
{% endblock %}
