{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('game') }}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('game') }}
{% endblock %}

{% block title %}Game index
{% endblock %}

{% block body %}


<main>
    <div class="centered">
        <h1>Nos Salles</h1>
    </div>
<div class="content">
    
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Room</th>
				<th>Description</th>
				<th>ImageUrl</th>
				<th>MaxPlayers</th>
				<th>MinPlayers</th>
				<th>GameMaster</th>
				<th>GameDuration</th>
				<th>PricePerPerson</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for game in games %}
				<tr>
					<td>{{ game.id }}</td>
					<td>{{ game.title }}</td>
					<td>{{ game.room }}</td>
					<td>{{ game.description }}</td>
					<td><img src="{{dossier_images ~ game.imageUrl}}" alt="{{game.title}}" class="miniature"></td>
					<td>{{ game.maxPlayers }}</td>
					<td>{{ game.minPlayers }}</td>
					<td>{{ game.gameMaster }}</td>
					<td>{{ game.gameDuration }}</td>
					<td>{{ game.pricePerPerson }}</td>
					<td>
						<a href="{{ path('game_show', {'id': game.id}) }}">show</a>
						<a href="{{ path('game_edit', {'id': game.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="11">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('game_new') }}">Create new</a>
</div>
</main>
{% endblock %}
