{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('game') }}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('game') }}
{% endblock %}

{% block title %}Liste des salles
{% endblock %}

{% block body %}

	<main>
		<div class="centered">
			<h1>Nos Salles</h1>
		</div>
		<div class="content">
			{% for game in games %}

				<h2>{{ game.title }}</h2>
				<p>{{ game.description }}</p>
				<p><img src="{{dossier_images ~ game.imageUrl}}" alt="{{game.title}}" class="miniature"></p>
				<p>Max players:	{{ game.maxPlayers }}</p>
				<p>Min players:	{{ game.minPlayers }}</p>
				<p>Game master:	{{ game.gameMaster }}</p>
				<p>{{ game.gameDuration }}</p>
				<p>{{ game.pricePerPerson }}</p>
				<button><a href="{{ path('game_show', {'id': game.id}) }}">Voir Les détails</a></button>

				{% if is_granted("ROLE_ADMIN") %}
					<button><a href="{{ path('game_edit', {'id': game.id}) }}">edit</a></button>
				{% endif %}

			{% endfor %}
			{% if is_granted("ROLE_ADMIN") %}
				<button><a href="{{ path('game_new') }}">Create new</a></button>
			{% endif %}
			
		</div>
	</main>
{% endblock %}
