{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('game') }}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('game') }}
{% endblock %}


{% block title %}Shikeygami | Liste de jeux{% endblock %}

{% block body %}
    <h1>Liste de jeux</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ game.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ game.title }}</td>
            </tr>
            <tr>
                <th>Room</th>
                <td>{{ game.room }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ game.description }}</td>
            </tr>
            <tr>
                <th>ImageUrl</th>
                <td><img src="{{dossier_images ~ game.imageUrl}}" alt="{{game.title}}" class="miniature"></td>

            </tr>
            <tr>
                <th>MaxPlayers</th>
                <td>{{ game.maxPlayers }}</td>
            </tr>
            <tr>
                <th>MinPlayers</th>
                <td>{{ game.minPlayers }}</td>
            </tr>
            <tr>
                <th>GameMaster</th>
                <td>{{ game.gameMaster }}</td>
            </tr>
            <tr>
                <th>GameDuration</th>
                <td>{{ game.gameDuration }}</td>
            </tr>
            <tr>
                <th>PricePerPerson</th>
                <td>{{ game.pricePerPerson }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('game_index') }}">back to list</a>

    <a href="{{ path('game_edit', {'id': game.id}) }}">edit</a>

    {{ include('game/_delete_form.html.twig') }}
{% endblock %}
