{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('game_show') }}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('game_show') }}
{% endblock %}

{% block title %}Salle n°{{game.room}} {% endblock %}

{% block body %}
	<main>
	<!-- Slideshow container -->
		<div class="slideshow-container">

		<!-- Full images with numbers and message Info -->
			<div class="containers">
				<img src="{{dossier_images ~ game.imageUrl}}" id="image">
				<img src="{{dossier_images ~ game.imageUrl2}}" id="image2">
				<img src="{{dossier_images ~ game.imageUrl3}}" id="image3">
				<section class="infoGame">
				<div class="parallelogram one">
					<div class="circle zoom-in">
						<i class="fas fa-user"></i>
						<p>{{ game.minPlayers }} joueurs</p>
					</div>
				</div>

				<div class="parallelogram two">
					<div class="circle">
						<i class="fas fa-users"></i>
						<p>{{ game.maxPlayers }} joueurs</p>
					</div>
				</div>

				<div class="parallelogram three">
					<div class="circle">
						<i class="fas fa-brain"></i>
						<p>{{ game.gameMaster }}</p>
					</div>
				</div>

				<div class="parallelogram four">
					<div class="circle">
						<i class="fas fa-hourglass-half"></i>
						<p> {{ game.gameDuration }} minutes</p>
					</div>
				</div>

				<div class="parallelogram five">
					<div class="circle">
						<i class="fas fa-wallet"></i>
						<p>{{ game.pricePerPerson }} €</p>
					</div>
				</div>
				
				<div class="parallelogram six">
					<div class="circle">
						<i class="fas fa-lock"></i>
						<p>{{ game.difficulty }}</p>
					</div>
				</div>

			</section>
					<div class="info">
						<p class="text">{{game.title}}</p>
					</div>
				</div>

			<!-- Back and forward buttons -->
				<a class="back" ><i class="fas fa-chevron-left"></i></a>
				<a class="forward"><i class="fas fa-chevron-right"></i></a>
			</div>
		<!-- CONTENT -->
		<div class="content">
				
			<h3>Description de la salle</h3>
			<p class="description">{{ game.description }}</p>
			<div class="links">
				<a href="{{ path('calendar_index') }}"><i class="fas fa-shopping-cart"></i> Réserver</a>
				<a href="{{ path('game_index') }}"><i class="fas fa-arrow-circle-left"></i> Retour à la liste</a>
			</div>
			{% if is_granted("ROLE_ADMIN") %}
				<table class="adminTable">
					<thead>
						<tr>
							<th>Id du Jeu</th>
							<th>Room</th>
							<th>Modifier</th>
							<th>Supprimer</th>
						</tr>
					<thead>
					<tbody>
						<tr>
							<td>{{ game.id }}</td>
							<td>{{ game.room }}</td>
							<td><a href="{{ path('game_edit', {'id': game.id}) }}"><i class="far fa-edit"></i></a></td>
							<td>{{ include('game/_delete_form.html.twig') }}</td>
						</tr>
					</tbody>
				</table>
					
					
				{% endif %}
		</div>
	</main>
{% endblock %}
