{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('game') }}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('game') }}
{% endblock %}

{% block title %}Salles
{% endblock %}

{% block body %}
	<main>

		<div class="centered">
			<h1>Game</h1>
		</div>
		<div class="content">

			<h2>{{ game.title }}</h2>

			<h3>Description de la salle</h3>
			<p>{{ game.description }}</p>

			<p><img src="{{dossier_images ~ game.imageUrl}}" alt="{{game.title}}" class="miniature"></p>

            <p>Nombre de joueurs minimum: {{ game.minPlayers }} joueurs</p>

			<p>Nombre de joueurs maximum: {{ game.maxPlayers }} joueurs</p>

			<p>GameMaster: {{ game.gameMaster }}</p>

			<p>GameDuration: {{ game.gameDuration }} minutes</p>

			<p>PricePerPerson: {{ game.pricePerPerson }} €</p>

			<button><a href="{{ path('order_index') }}">Réservation</a></button>
			
			<a href="{{ path('game_index') }}">back to list</a>

			{% if is_granted("ROLE_ADMIN") %}
				<p>Id du Jeu</p>
				<p>{{ game.id }}</p>

                <p>Room</p>
			    <p>{{ game.room }}</p>

				<a href="{{ path('game_edit', {'id': game.id}) }}">edit</a>
				{{ include('game/_delete_form.html.twig') }}
			{% endif %}

		</div>
	</main>
{% endblock %}
