{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('game_show') }}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('game_show') }}
{% endblock %}

{% block title %}Salle n°{{game.room}} {% endblock %}

{% block body %}
	<main>
	<!-- Slideshow container -->
		<div class="slideshow-container">

		<!-- Full images with numbers and message Info -->
			<div class="containers">
				<img src="{{dossier_images ~ game.imageUrl}}" id="image" alt="image1">
				<img src="{{dossier_images ~ game.imageUrl2}}" id="image2" alt="image2">
				<img src="{{dossier_images ~ game.imageUrl3}}" id="image3" alt="image3">
				
				<section class="infoGame">
					<button class="circle one">
						<i class="fas fa-user"></i>
						<p>{{ game.minPlayers }} joueurs</p>
					</button>
					<p class="slideMessage minPlayer">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet metus consectetur, tincidunt mauris ac, pharetra tellus.</p>

					<button class="circle two">
						<i class="fas fa-users"></i>
						<p>{{ game.maxPlayers }} joueurs</p>
					</button>
					<p class="slideMessage maxPlayer">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet metus consectetur, tincidunt mauris ac, pharetra tellus.</p>

					<button class="circle three">
						<i class="fas fa-brain"></i>
						<p>{{ game.gameMaster }}</p>
					</button>
					<p class="slideMessage gameMaster">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet metus consectetur, tincidunt mauris ac, pharetra tellus.</p>

					<button class="circle four">
						<i class="fas fa-hourglass-half"></i>
						<p> {{ game.gameDuration }} minutes</p>
					</button>
					<p class="slideMessage time">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet metus consectetur, tincidunt mauris ac, pharetra tellus.</p>

					<button class="circle five">
						<i class="fas fa-wallet"></i>
						<p>{{ game.pricePerPerson }} €</p>
					</button>
					<p class="slideMessage price">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet metus consectetur, tincidunt mauris ac, pharetra tellus.</p>

					<button class="circle six">
						<i class="fas fa-lock"></i>
						<p>{{ game.difficulty }}</p>
					</button>
					<p class="slideMessage difficulty">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet metus consectetur, tincidunt mauris ac, pharetra tellus.</p>
			</section>

					<div class="info">
						<p class="text">{{game.title}}</p>
					</div>
				</div>

			<!-- Back and forward buttons -->
				<a class="back" ><i class="fas fa-chevron-left"></i></a>
				<a class="forward"><i class="fas fa-chevron-right"></i></a>
			</div>

		<!-- CONTENT -->
		<div class="content">
				
			<h3>Description de la salle</h3>
			<p class="description">{{ game.description }}</p>
			<div class="links">
				<a href="{{ path('calendar_game', {'id': game.id}) }}"><i class="fas fa-shopping-cart"></i> Réserver</a>
				<a href="{{ path('game_index') }}"><i class="fas fa-arrow-circle-left"></i> Retour à la liste</a>
			</div>

			{% if is_granted("ROLE_ADMIN") %}
				<table class="adminTable">
					<thead>
						<th>Id du Jeu</th>
						<th>N° de salle</th>
						<th>Modifier</th>
						<th>Supprimer</th>
					<thead>
					<tbody>
						<tr>
							<td>{{ game.id }}</td>
							<td>{{ game.room }}</td>
							<td><a href="{{ path('game_edit', {'id': game.id}) }}"><i class="far fa-edit"></i></a></td>
							<td>{{ include('game/_delete_form.html.twig') }}</td>
						</tr>
					</tbody>
				</table>
				{% endif %}
		</div>
	</main>
{% endblock %}
