{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('game_show') }}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('game_show') }}
{% endblock %}

{% block title %}Salle n°{{game.room}} {% endblock %}

{% block body %}
	<main>
	<!-- Slideshow container -->
		<div class="slideshow-container">

		<!-- Full images with numbers and message Info -->
			<div class="containers">
				<img src="{{dossier_images ~ game.imageUrl}}" id="image">
				<img src="{{dossier_images ~ game.imageUrl2}}" id="image2">
				<img src="{{dossier_images ~ game.imageUrl3}}" id="image3">
					<div class="info">
						<p class="text">{{game.title}}</p>
					</div>
				</div>

			<!-- Back and forward buttons -->
				<a class="back" ><i class="fas fa-chevron-left"></i></a>
				<a class="forward"><i class="fas fa-chevron-right"></i></a>
			</div>
		<!-- CONTENT -->
		<div class="content">


			<section class="infoGame">
				<h2>{{ game.title }}</h2>
				<i class="fas fa-users"></i>
				<p>Nombre de joueurs minimum: {{ game.minPlayers }} joueurs</p>

				<i class="fas fa-users"></i>
				<p>Nombre de joueurs maximum: {{ game.maxPlayers }} joueurs</p>

				<i class="fas fa-brain"></i>
				<p>GameMaster: {{ game.gameMaster }}</p>

				<i class="fas fa-hourglass-half"></i>
				<p>GameDuration: {{ game.gameDuration }} minutes</p>

				<i class="fas fa-wallet"></i>
				<p>PricePerPerson: {{ game.pricePerPerson }} €</p>

				<i class="fas fa-lock"></i>
				<p>Difficulté: {{ game.difficulty }}</p>
				
				<h3>Description de la salle</h3>
				<p>{{ game.description }}</p>
				<button><a href="{{ path('calendar_index') }}">Réservation</a></button>
				
				<a href="{{ path('game_index') }}">Retour à la liste</a>

				{% if is_granted("ROLE_ADMIN") %}
					<p>Id du Jeu</p>
					<p>{{ game.id }}</p>

					<p>Room</p>
					<p>{{ game.room }}</p>

					<a href="{{ path('game_edit', {'id': game.id}) }}">Modifier</a>
					{{ include('game/_delete_form.html.twig') }}
				{% endif %}

			</section>
		</div>
	</main>
{% endblock %}
