{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags("accueil") }}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags("accueil") }}
	<!-- Script facebook (à revoir car pas fonctionnel) -->
	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v12.0" nonce="vaP0xXZz"></script>
{% endblock %}


{% block body %}
{# Les reférences des images et des titres que je veux injecter dans le caroussel bannière #}
<p class="src-ref hidden">img/game/{{game1.imageUrl}}</p>
<p class="src-ref hidden">img/game/{{game2.imageUrl}}</p>
<p class="src-ref hidden">img/game/{{game3.imageUrl}}</p>
<p class="src-ref hidden">img/game/{{game4.imageUrl}}</p>
<p class="title-ref hidden">{{ game1.title }}</p>
<p class="title-ref hidden">{{ game2.title }}</p>
<p class="title-ref hidden">{{ game3.title }}</p>
<p class="title-ref hidden">{{ game4.title }}</p>
{# ----------------------------------------------------------------------------------------------- #}

<!-- Slideshow -->
<div class="slideshow-container">
    <div class="containers">
            <img src="img/game/{{game1.imageUrl}}" id="image" alt="banniere">
                <div class="info">
                    <p class="text">{{ game1.title }}</p>
                </div>
                <div class="moreInfo">
                    <a href="/game" id="links">En savoir plus</a>
                </div>
    </div>

<!-- Back and forward buttons -->
    <a class="back" ><i class="fas fa-chevron-left"></i></a>
    <a class="forward"><i class="fas fa-chevron-right"></i></a>
</div>

<!-- Main content -->
<main>
    <div class="content">
        <h2 class="roomTitle">Nos salles</h2>
        <div class="shape" style="{{'background-image:url("../img/game/' ~ game1.imageUrl ~ '")'}}">
            <a class="lienWidth" href="{{ path('game_show', {'id': game1.id}) }}">
                <div class="align">
                    <h2>{{ game1.title }}</h2>
                    <p>{{game1.synopsis}}</p>
                </div>
            </a>
        </div>
        <div class="shape2" style="{{'background-image:url("../img/game/' ~ game2.imageUrl ~ '")'}}">
            <a class="lienWidth" href="{{ path('game_show', {'id': game2.id}) }}">
                <div class="align">
                    <h2>{{ game2.title }}</h2>
                    <p>{{game2.synopsis}}</p>
                </div>
            </a>
        </div>
        <div class="shape3" style="{{'background-image:url("../img/game/' ~ game3.imageUrl ~ '")'}}">
            <a class="lienWidth" href="{{ path('game_show', {'id': game3.id}) }}">
                <div class="align">
                    <h2>{{ game3.title }}</h2>
                    <p>{{game3.synopsis}}</p>
                </div>
            </a>
        </div>
        <div class="shape4" style="{{'background-image:url("../img/game/' ~ game4.imageUrl ~ '")'}}">
            <a class="lienWidth" href="{{ path('game_show', {'id': game4.id}) }}">
                <div class="align">
                    <h2>{{ game4.title }}</h2>
                    <p>{{game4.synopsis}}</p>
                </div>
            </a>
        </div>

    
    <!-- Contact section  -->
    <div class="contactSection">
    <h2 class="roomTitle">Contact</h2>
    <section class="contactContainer" id="contactContainer">
        <div class="icons">
            <a href="#contactContainer" class="phone"><i class="fas fa-phone-square-alt"></i></a>
            <a href="#contactContainer" class="address"><i class="fas fa-map-pin"></i></a>
            <a href="#contactContainer" class="mail"><i class="fas fa-envelope"></i></a>
            <a href="#contactContainer" class="facebook"><i class="fas fa-thumbs-up"></i></a>
        </div>
        <div class="square">
            <div class="question">
                <p>Vous souhaitez nous contacter ?</p>
                <p>Notre équipe se fera une joie de vous répondre !</p>
            </div>
            <div class="googleMaps slideInRight">
                <p>Notre entreprise se trouve ici :</p>
                <br>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10500.757272001481!2d2.3562851!3d48.8546002!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb2bbd365849898f2!2sWebForce3%20Paris%204%C3%A8me%20-%20Formation%20D%C3%A9veloppeur%20web%2C%20Technicien%20syst%C3%A8mes%20r%C3%A9seaux%2C%20Designer%20web%20marketing%20digital...!5e0!3m2!1sfr!2sfr!4v1632136474252!5m2!1sfr!2sfr" width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy" class="frameMaps"></iframe>            </div>
            <div class="contact slideInRight">
                <p><i class="fas fa-phone"></i> 0123456789</p>
                <p><i class="fas fa-fax"></i> 0987654321</p>
                <p><i class="fas fa-map-marked"></i> 18 Rue Geoffroy l'Asnier, 75004 Paris.</p>
            </div>
            <div class="contactForm slideInRight">
                <form method="post">
                    <label for="nom">Nom</label>
                    <input type="text" id="nom" name="nom">
                    <!--id et for doivent avoir le même nom pour les relier entre eux. ainsi l'utilisateur cliquera directement sur "Nom" et la case sera en surbrillance-->

                    <label for="prenom">Prenom</label>
                    <input type="text" id="prenom" name="prenom">

                    <label for="tel">Téléphone</label>
                    <input type="tel" id="tel" name="telephone" pattern="^[0-9]{10}$" maxlength="10" required>
                    <!--permet de n'autoriser que les chiffre + d'ouvrir directement le clavier numérique-->

                    <label for="mail">Mail</label>
                    <input type="email" id="mail" name="mail" required>

                    <label for="message">Message</label>
                    <textarea id="message" name="message"></textarea>

                    <input type="submit" value="Envoyer !" id="submit">
                </form>
            </div>
            <div class="facebookLink slideInRight">
                <p>Suivez nous sur Facebook !</p>
                <br>
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=500&height=600&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="500" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>
        </div>
    </section>
    </div>
</div>

</main>
{% endblock %}
