
	<footer>
		<div class="container2">
			<a href="{{ path("accueil") }}"><img class="logo2" src="/img/headerFooter/logo.png" alt="logo"></a>
			<h2 class="footer-title"><a href="{{ path("accueil") }}">Shikeygami</a></h2>
		</div>

		<section class="information">
			<a href="{{path('game_index')}}">Nos salles</a>
			<a href="{{ path("concept") }}">Concept</a>
			<a href="{{ path("accueil") }}#contactContainer">Nous contacter</a>
			<a href="{{ path("mentions_legales") }}">Mentions légales</a>
		</section>
	</footer>
