<!DOCTYPE html>
<html
	lang="fr">
	{# pour que google arrête de me demander de traduire la page ! #}
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Shikeygami, n°1 des Escape game 100% japonais ! Nos salles de jeux aux thèmes japonais vous attendent ! Sortirez-vous à temps de la salle ?">
		<meta name="author" content="Marion Toccaceli, Fabien Cador, Nejma Aidoun, Guillaume Biju-Duval">
		<link rel="shortcut icon" href="/favicon.ico">
		<title>
			{% block title %}Shikeygami | L'escape game immersif 100% japonais !
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
						and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			{{ encore_entry_link_tags('menu') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{{ encore_entry_script_tags('menu') }}
		{% endblock %}

	</head>
	<body>
		{% include "_menuHeader.html.twig" %}
		
		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="flash-{{ label }}">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}

		{% block body %}{% endblock %}

		{% include "_menuFooter.html.twig" %}


	</body>
</html>
