{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('add_order') }}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('add_order') }}
{% endblock %}

{% block title %}Edition de réservation
{% endblock %}

{% block body %}
	<main>
		<div class='content'>
		<div class="centered">
			<h1>Edition de réservation</h1>
		</div>
			{{ include('order/_form.html.twig', {'button_label': 'Update'}) }}

			<a href="{{ path('order_index') }}">Retour à la liste des Réservation</a>

			{{ include('order/_delete_form.html.twig') }}
		</div>
	</main>
{% endblock %}
