{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('order') }}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('order') }}
{% endblock %}

{% block title %}Shikeygami | Liste des réservations
{% endblock %}

{% block body %}
	{% if is_granted("ROLE_ADMIN") %}
		<div class="content">

			<h2>Liste des Réservations</h2>
			<a href="{{ path('order_new') }}" id="createNew">Nouvelle réservation</a>
			<table class="order-table">
				<thead>
					<tr>
						<th class="order-cell">Id</th>
						<th class="order-cell">Details</th>
						<th class="order-cell">Prix total</th>
						<th class="order-cell">PaymentStatus</th>
						<th class="order-cell">Details</th>
						<th class="order-cell">Modifications</th>
					</tr>
				</thead>
				<tbody>
					{% for order in orders %}

						<tr>
							<td class="order-cell">{{ order.id }}</td>
							<td class="order-cell">
								<p>
									<span class="order-bold">Client :</span>
									{{ order.user.firstname ~ ' ' ~ order.user.firstname }}</p>
								<p>
									<span class="order-bold">Nombre de participants :</span>
									{{ order.playerQuantity }}</p>
								<p>
									<span class="order-bold">Date de la réservation :</span>
									{{ order.dateOfOrder ? order.dateOfOrder|date('d M Y') : '' }}</p>
								<hr class="split">
								<p>
									<span class="order-bold">Nom du jeu :</span>
									{{ order.calendar.game.title }}</p>
								<p>
									<span class="order-bold">Date et heure de début :</span>
									{{ order.calendar.startTime ? order.calendar.startTime|date('d M Y H:i:s') : '' }}</p>
								<p>
									<span class="order-bold">Date et heure de fin :</span>
									{{ order.calendar.endTime ? order.calendar.endTime|date('d M Y H:i:s') : '' }}</p>
							</td>
							<td class="order-cell">{{ order.totalPrice }}</td>
							<td class="order-cell">
								{% if order.paymentStatus == 1 %}
									{{ order.paymentStatus ? "En cours" : ''}}
								{% endif %}
								{% if order.paymentStatus == 2 %}
									{{ order.paymentStatus ? "Paiement effectué" : '' }}
								{% endif %}
								{% if order.paymentStatus == 3 %}
									{{ order.paymentStatus ? "Réservation annulée" : '' }}
								{% endif %}
							</td>
							<td class="order-cell">
								<a href="{{ path('order_show', {'id': order.id}) }}">
									<i class="fas fa-eye"></i>
								</a>
							</td>
							<td class="order-cell">
								<a href="{{ path('order_edit', {'id': order.id}) }}">
									<i class="fas fa-pen"></i>
								</a>
							</td>
						</tr>
				</tbody>
	{% else %}

		<p>Pas de réservation en cours</p>

	{% endfor %}
{% else %}
	<p>Accès réservé aux administrateurs</p>
{% endif %}</tbody></table></div>{% endblock %}
