{% extends 'base.html.twig' %}

{% block title %}Shikeygami | Liste des commandes{% endblock %}

{% block body %}
    <h1>Liste des commandes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date de la commande</th>
                <th>Prix Total</th>
                <th>Horaire choisi</th>
                <th>Status du paiement</th>
                <th>Details</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.dateOfOrder ? order.dateOfOrder|date('Y-m-d') : '' }}</td>
                <td>{{ order.totalPrice }}</td>
                <td>{{ order.bookedTime ? order.bookedTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ order.paymentStatus }}</td>
                <td>
                    <a href="{{ path('order_show', {'id': order.id}) }}">Détails</a>
                </td>
                <td>
                    <a href="{{ path('order_edit', {'id': order.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas de commande en cours</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('order_new') }}">Créer une nouvelle commande</a>
{% endblock %}
