{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('order') }}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('order') }}
{% endblock %}

{% block title %}nouvelle réservation
{% endblock %}

{% block body %}

	<main>
		<div class="centered">
			<h1>nouvelle réservation</h1>
		</div>
		<div class='content'>
			{{ include('order/_form.html.twig') }}

			<a href="{{ path('order_index') }}">Retour à la liste</a>
		</div>
	</main>
{% endblock %}
