{% extends 'base.html.twig' %}

{% block title %}Shikeygami | Détail de la commande{% endblock %}

{% block body %}
    <h1>Order</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>Date de la commande</th>
                <td>{{ order.dateOfOrder ? order.dateOfOrder|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Prix Total</th>
                <td>{{ order.totalPrice }}</td>
            </tr>
            <tr>
                <th>Heure choisie</th>
                <td>{{ order.bookedTime ? order.bookedTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status du paiement</th>
                <td>{{ order.paymentStatus }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('order_index') }}">Retour à la liste</a>

    <a href="{{ path('order_edit', {'id': order.id}) }}">Modifier</a>

    {{ include('order/_delete_form.html.twig') }}
{% endblock %}
