<div>
	<h3>{{ order.calendar.game.title }}</h3>
    
    <a href="{{ path('game_show', {'id': order.calendar.game.id}) }}"><img class="vignetteImg" src="{{dossier_images ~ order.calendar.game.imageUrl}}" alt="{{order.calendar.game.title}}"></a>
    
    <div class="centered">
        <p>{{ order.calendar.game.synopsis }}</p>

        <table class="details">
            <thead>
                <tr>
                    <th class="cell1"><i class="fas fa-hourglass-half"></i></th>
                    <th class="cell1"><i class="fas fa-users"></i></th>
                    <th class="cell1"><i class="fas fa-lock"></i></th>
                    <th class="cell1"><i class="fas fa-brain"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="cell">Date de réservation</td>
                    <td class="cell">Nombre de participants</td>
                    <td class="cell">Difficulté</td>
                    <td class="cell">Game master</td>
                </tr>

                <tr>
                    <td class="cell">{{ order.dateOfOrder ? order.calendar.startTime|date('Y-m-d H:i:s') : '' }}</td>
                    <td class="cell">{{ order.playerQuantity }} joueurs</td>
                    <td class="cell">{{ order.calendar.game.difficulty }}</td>
                    <td class="cell">{{ order.calendar.game.gameMaster }}</td>
                </tr>
            </tbody>
        </table>

        <table class="details">
            <thead>
                <tr>
                    <th class="cell1"><i class="fas fa-wallet"></i></th>
                    <th class="cell1"><i class="fas fa-wallet"></i></th>  
                </tr>
                
            </thead>
            <tbody>
                <tr>
                    <td class="cell">Prix Total</td>
                    <td class="cell">Status du payement</td>
                </tr>
                <tr>
                    <td class="cell">{{ order.totalPrice }}</td>
                    <td class="cell">
                        {% if order.paymentStatus == 1 %}
                            Payé
                        {% else %}
                            En attente de paiement
                        {% endif %}
                    </td>
                </tr>
                
            </tbody>
        </table>
    <div>
        <button><a href="{{ path('order_delete', {'id': order.id}) }}">Annuler ma réservation</a></button>
    </div>
    </div>
	
</div>
