<div>
	<h4>{{ order.calendar.game.title }}</h4>

	<p><img class="vignetteImg" src="{{dossier_images ~ order.calendar.game.imageUrl}}" alt="{{order.calendar.game.title}}" class="miniature">
    </p>
    <div class="centered">
        <table>
            <thead>
                <tr>
                    <th>Date de réservation</th>
                    <th>Nombre de participants</th>
                    <th>Prix Total</th>
                    <th>Status du payement</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for order in app.user.orders %}
                    <tr>
                        <td>{{ order.dateOfOrder ? order.dateOfOrder|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ order.playerQuantity }}</td>
                        <td>{{ order.totalPrice }}</td>
                        <td>
                            {% if order.paymentStatus == 1 %}
                                Payé
                            {% else %}
                                En attente de paiement
                            {% endif %}
                        </td>
                    </tr>
                    <button><a href="{{ path('game_show', {'id': order.calendar.game.id}) }}">Voir</a></button>

                {% endfor %}
            </tbody>
        </table>
    </div>
	
</div>
