{% extends "base.html.twig" %}

{% block h1 %}Erreur 403 {% endblock %}

{% block stylesheets %}
	 {{parent()}} 
	{{ encore_entry_link_tags('error') }}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('error') }}
{% endblock %}

{% block body %}
    <h1>Oups ! Accès interdit</h1>
    <p>Vous n'êtes pas autorisé à accéder à cette page, désolé !</p>

    <a href="{{ path("accueil") }}">Retour à l'accueil</a>
{% endblock %}