{% extends "base.html.twig" %}

{% block h1 %}Erreur 500{% endblock %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('error') }}
{% endblock %}

{% block javascripts %}
	{{parent()}} 
	{{ encore_entry_script_tags('error') }}
{% endblock %}

{% block body %}
	
		<h1>Oups !</h1>
		<br>
		<p>Une erreur est survenue... Désolé</p>
		<br>
		<div class="btn-anim">
            <button type="button" class="bouton"><a href="{{ path("accueil") }}">Retour à l'accueil</a></button>
        </div>
	</div>
{% endblock %}
