{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('user') }}
{% endblock %}

{% block title %}
	Shikeygami | Liste d'utilisateurs
{% endblock %}

{% block body %}
	<div class="content">
		<h2>Liste d'utilisateurs</h2>

			<table class="user-table">
				<thead>
					<tr class="user-row">
						<th class="user-cell">Id</th>
						<th class="user-cell">Informations</th>
						<th class="user-cell">Réduction</th>
						<th class="user-cell">Détails</th>
						<th class="user-cell">Modifier</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr class="user-row">
							<td class="user-cell">{{ user.id }}</td>
							<td class="user-cell">
								<p>
									<span class="user-bold">Date d'inscription :</span>
									{{ user.dateOfCreation ? user.dateOfCreation|date('Y-m-d') : '' }}</p>
								<p>
									<span class="user-bold">Pseudo :</span>
									{{ user.username }}</p>
								<p>
									<span class="user-bold">Email :</span>
									{{ user.email }}</p>
								<p>
									<span class="user-bold">Niveau d'accès :</span>
									{{ user.roles ? user.roles|json_encode : '' }}</p>
								<p>
									<span class="user-bold">Nom complet :</span>
									{{ user.firstName }}
									{{ user.lastName }}
								</p>
							</td>
							<td class="user-cell">
							{% if user.discountStatus == NULL %}
							{{ user.discountStatus ? "Aucune" : '' }}
							{% endif %}
							{% if user.discountStatus == 1 %}
							{{ user.discountStatus ? "5%" : '' }}
							{% endif %}
							{% if user.discountStatus == 2 %}
							{{ user.discountStatus ? "10%" : '' }}
							{% endif %}
							{% if user.discountStatus == 3 %}
							{{ user.discountStatus ? "20%" : '' }}
							{% endif %}
							</td>
							<td class="user-cell">
								<a href="{{ path('user_show', {'id': user.id}) }}"><i class="fas fa-eye"></i></a>
							</td>
							<td class="user-cell">
								<a href="{{ path('user_edit', {'id': user.id}) }}"><i class="fas fa-pen"></i></a>
							</td>
						</tr>
					{% else %}

						<p>Aucun utilisateur n'est présent dans la base de données et ça n'est pas très normal.<br>
							Avez-vous pensez à mettre le site en ligne ?</p>

					{% endfor %}
				</tbody>
			</table>
</div>
	{% endblock %}

	{% block javascripts %}
		{{ parent() }}
		{{ encore_entry_script_tags('user') }}
	{% endblock %}
