{% extends 'base.html.twig' %}

{% block title %}Shikeygami | Liste d'utilisateurs
{% endblock %}

{% block body %}
	<h1>Liste d'utilisateurs</h1>

	<div class="wrapper">
		<table class="table">
			<thead>
				<tr class="row-header">
					<th class="cell">Id</th>
					<th class="cell">Email</th>
					<th class="cell">Niveau d'autorisation</th>
					<th class="cell">Mot de passe</th>
					<th class="cell">Date d'inscription</th>
					<th class="cell">Pseudo</th>
					<th class="cell">Prenom</th>
					<th class="cell">Nom</th>
					<th class="cell">Réduction applicable</th>
					<th class="cell">Détails</th>
					<th class="cell">Modifier</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr class="row">
						<td class="cell">{{ user.id }}</td>
						<td class="cell">{{ user.email }}</td>
						<td class="cell">{{ user.roles ? user.roles|json_encode : '' }}</td>
						<td class="cell">{{ user.password }}</td>
						<td class="cell">{{ user.dateOfCreation ? user.dateOfCreation|date('Y-m-d') : '' }}</td>
						<td class="cell">{{ user.username }}</td>
						<td class="cell">{{ user.firstName }}</td>
						<td class="cell">{{ user.lastName }}</td>
						<td class="cell">{{ user.discountStatus }}</td>
						<td class="cell">
							<a href="{{ path('user_show', {'id': user.id}) }}">Détails</a>
						</td>
						<td class="cell">
							<a href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
						</td>
					</tr>
				{% else %}
					
						<p>Aucun utilisateur n'est présent dans la base de données</p>
					
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
